<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="details content">
    <h2><%= blog.title %></h2>
    <div class="content">
      <p><%= blog.body %></p>
    </div>
    <a class="delete" data-doc="<%= blog._id %>">delete</a>
  </div>

  <%- include("./partials/footer.ejs") %>

  
    <script>
        //This is an ajax request 
        const deleteBtn = document.querySelector('a.delete');
        deleteBtn.addEventListener('click', (e) => {
            const endpoint = `/blogs/${trashcan.dataset.doc}`;

            //Send delete req to the end point on btn click
            //second arg is an object to specifiy req data, etc for the server 
            fetch(endpoint,{
                method: 'DELETE'
            })
            .then()
            .catch(err => {

            })

        })
    </script>

</body>
</html>